# Virtual environments
.venv/
env/
venv/
ENV/

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
